In [18]:
#importing resources
import pandas as pd
import numpy as np
from sympy import S, symbols, printing
from matplotlib import pyplot as plt
import datetime
import seaborn as sns

In [19]:
# specifying file location
file = '//north.cfs.uoguelph.ca/soe-other-home$/dhimanj/Desktop/output.txt'

In [26]:
# reading the file
hru_file = pd.read_csv(file, header=None, sep='\s+', engine='python')

In [28]:
hru_file.head()

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,CLVR,1,10001,1,0,0.017336,33.8,0.0,4.231,0.0,...,1730.0,0.0,0.0,0.0,5.80,0.0152,0.000236,0.054,0.006,0.007
1,CLVR,2,20001,2,0,0.110753,33.8,0.0,4.231,0.0,...,1730.0,0.0,0.0,0.0,5.81,0.5810,0.000276,0.054,0.006,0.007
2,CLVR,3,30001,3,0,0.015028,33.8,0.0,4.231,0.0,...,1730.0,0.0,0.0,0.0,5.80,0.0152,0.000211,0.054,0.006,0.007
3,CLVR,4,40001,4,0,0.011368,33.8,0.0,4.231,0.0,...,1730.0,0.0,0.0,0.0,5.81,0.5810,0.000243,0.054,0.005,0.007
4,CLVR,5,50001,5,0,0.011724,33.8,0.0,4.231,0.0,...,1730.0,0.0,0.0,0.0,5.81,0.5810,0.000155,0.054,0.003,0.007

In [57]:
# selecting every second row starting with the first row and creating a daraframe
hru1 = hru_file.iloc[]

In [25]:
hru1.head()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
0,NaN,NaN,HRU,NaN,NaN,NaN,NaN,NaN,NaN,1,...,Yld,=,NaN,NaN,592.0,BIOM,=,NaN,NaN,9130.5
2,NaN,NaN,HRU,NaN,NaN,NaN,NaN,NaN,NaN,2,...,Yld,=,NaN,NaN,592.0,BIOM,=,NaN,NaN,9130.5
4,NaN,NaN,HRU,NaN,NaN,NaN,NaN,NaN,NaN,3,...,Yld,=,NaN,NaN,592.0,BIOM,=,NaN,NaN,9130.5
6,NaN,NaN,HRU,NaN,NaN,NaN,NaN,NaN,NaN,4,...,Yld,=,NaN,NaN,592.0,BIOM,=,NaN,NaN,9130.5
8,NaN,NaN,HRU,NaN,NaN,NaN,NaN,NaN,NaN,5,...,Yld,=,NaN,NaN,592.0,BIOM,=,NaN,NaN,9130.5

In [62]:
# selecting every second row starting with the second row and creating a daraframe
hru2 = hru_file.iloc[1::2, :]

In [63]:
hru2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,...,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81
1,WWHT,NaN,Yld,=,NaN,NaN,NaN,NaN,0.0,BIOM,=,NaN,NaN,NaN,NaN,NaN,0.0,NaN,CLVR,NaN,Yld,=,NaN,1083.9,BIOM,=,NaN,18247.0,NaN,CORN,NaN,Yld,=,NaN,9065.6,BIOM,=,NaN,23492.9,NaN,...,Yld,=,NaN,NaN,950.1,BIOM,=,NaN,NaN,9419.1,NaN,WWHT,NaN,Yld,=,NaN,5623.7,BIOM,=,NaN,18210.5,NaN,OATS,NaN,Yld,=,NaN,1254.6,BIOM,=,NaN,NaN,6219.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WWHT,NaN,Yld,=,NaN,NaN,NaN,NaN,0.0,BIOM,=,NaN,NaN,NaN,NaN,NaN,0.0,NaN,CLVR,NaN,Yld,=,NaN,1084.8,BIOM,=,NaN,18262.6,NaN,CORN,NaN,Yld,=,NaN,9065.9,BIOM,=,NaN,23493.6,NaN,...,Yld,=,NaN,NaN,950.1,BIOM,=,NaN,NaN,9419.1,NaN,WWHT,NaN,Yld,=,NaN,5625.4,BIOM,=,NaN,18216.1,NaN,OATS,NaN,Yld,=,NaN,1257.7,BIOM,=,NaN,NaN,6234.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,WWHT,NaN,Yld,=,NaN,NaN,NaN,NaN,0.0,BIOM,=,NaN,NaN,NaN,NaN,NaN,0.0,NaN,CLVR,NaN,Yld,=,NaN,1064.9,BIOM,=,NaN,17926.7,NaN,CORN,NaN,Yld,=,NaN,8784.8,BIOM,=,NaN,22764.5,NaN,...,Yld,=,NaN,NaN,950.1,BIOM,=,NaN,NaN,9419.2,NaN,WWHT,NaN,Yld,=,NaN,5576.1,BIOM,=,NaN,18056.5,NaN,OATS,NaN,Yld,=,NaN,1188.9,BIOM,=,NaN,NaN,5893.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,WWHT,NaN,Yld,=,NaN,NaN,NaN,NaN,0.0,BIOM,=,NaN,NaN,NaN,NaN,NaN,0.0,NaN,CLVR,NaN,Yld,=,NaN,1064.2,BIOM,=,NaN,17914.4,NaN,CORN,NaN,Yld,=,NaN,8785.7,BIOM,=,NaN,22766.8,NaN,...,Yld,=,NaN,NaN,950.1,BIOM,=,NaN,NaN,9419.2,NaN,WWHT,NaN,Yld,=,NaN,5575.1,BIOM,=,NaN,18053.1,NaN,OATS,NaN,Yld,=,NaN,1188.9,BIOM,=,NaN,NaN,5893.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,WWHT,NaN,Yld,=,NaN,NaN,NaN,NaN,0.0,BIOM,=,NaN,NaN,NaN,NaN,NaN,0.0,NaN,CLVR,NaN,Yld,=,NaN,1081.0,BIOM,=,NaN,18198.0,NaN,CORN,NaN,Yld,=,NaN,8842.9,BIOM,=,NaN,22915.9,NaN,...,Yld,=,NaN,NaN,950.1,BIOM,=,NaN,NaN,9419.1,NaN,WWHT,NaN,Yld,=,NaN,5599.7,BIOM,=,NaN,18132.8,NaN,OATS,NaN,Yld,=,NaN,1230.4,BIOM,=,NaN,NaN,6099.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# after visual analysis dropping columns with NaN values in hru1
cols = [0,1,3,4,5,6,7,8,11,12,15,18,22,24,26,29,33,35,37,40,44,46,48,51,55,56,58,60,63,67,69,71,74,75,79,80]
hru1.drop(hru1.columns[cols], axis=1, inplace=True)
hru1.head()

C:\Users\dhimanj\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,2,9,10,13,14,16,17,19,20,21,23,25,27,28,30,31,32,34,36,38,39,41,42,43,45,47,49,50,52,53,54,57,59,61,62,64,65,66,68,70,72,73,76,77,78,81
0,HRU,1,SUB,1,CORN,Yld,=,7429.5,BIOM,=,19214.7,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5465.7,BIOM,=,17734.9,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.0,BIOM,=,23086.4,SOYB,Yld,=,592.0,BIOM,=,9130.5
2,HRU,2,SUB,1,CORN,Yld,=,7432.3,BIOM,=,19221.9,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5467.6,BIOM,=,17740.8,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.2,BIOM,=,23087.0,SOYB,Yld,=,592.0,BIOM,=,9130.5
4,HRU,3,SUB,1,CORN,Yld,=,7350.6,BIOM,=,19010.0,SOYB,Yld,=,1224.8,BIOM,=,10119.9,WWHT,Yld,=,5414.8,BIOM,=,17569.6,CLVR,Yld,=,3013.8,BIOM,=,6665.8,CORN,Yld,=,8908.6,BIOM,=,23017.6,SOYB,Yld,=,592.0,BIOM,=,9130.5
6,HRU,4,SUB,1,CORN,Yld,=,7351.7,BIOM,=,19012.7,SOYB,Yld,=,1224.8,BIOM,=,10119.9,WWHT,Yld,=,5413.7,BIOM,=,17565.9,CLVR,Yld,=,3013.8,BIOM,=,6665.8,CORN,Yld,=,8908.4,BIOM,=,23017.1,SOYB,Yld,=,592.0,BIOM,=,9130.5
8,HRU,5,SUB,1,CORN,Yld,=,7249.2,BIOM,=,18748.5,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5460.0,BIOM,=,17716.2,CLVR,Yld,=,3013.0,BIOM,=,6663.8,CORN,Yld,=,8876.9,BIOM,=,22936.5,SOYB,Yld,=,592.0,BIOM,=,9130.5

In [64]:
# after visual analysis dropping columns with NaN values in hru2
cols = [1,4,5,6,7,11,12,13,14,15,17,19,22,26,28,30,33,37,39,41,44,45,49,50,52,54,57,61,63,65,68,72,73,75,76,77,78,79,80,81]
hru2.drop(hru2.columns[cols], axis=1, inplace=True)
hru2.head()

C:\Users\dhimanj\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,0,2,3,8,9,10,16,18,20,21,23,24,25,27,29,31,32,34,35,36,38,40,42,43,46,47,48,51,53,55,56,58,59,60,62,64,66,67,69,70,71,74
1,WWHT,Yld,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1083.9,BIOM,=,18247.0,CORN,Yld,=,9065.6,BIOM,=,23492.9,SOYB,Yld,=,950.1,BIOM,=,9419.1,WWHT,Yld,=,5623.7,BIOM,=,18210.5,OATS,Yld,=,1254.6,BIOM,=,6219.4
3,WWHT,Yld,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1084.8,BIOM,=,18262.6,CORN,Yld,=,9065.9,BIOM,=,23493.6,SOYB,Yld,=,950.1,BIOM,=,9419.1,WWHT,Yld,=,5625.4,BIOM,=,18216.1,OATS,Yld,=,1257.7,BIOM,=,6234.6
5,WWHT,Yld,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1064.9,BIOM,=,17926.7,CORN,Yld,=,8784.8,BIOM,=,22764.5,SOYB,Yld,=,950.1,BIOM,=,9419.2,WWHT,Yld,=,5576.1,BIOM,=,18056.5,OATS,Yld,=,1188.9,BIOM,=,5893.2
7,WWHT,Yld,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1064.2,BIOM,=,17914.4,CORN,Yld,=,8785.7,BIOM,=,22766.8,SOYB,Yld,=,950.1,BIOM,=,9419.2,WWHT,Yld,=,5575.1,BIOM,=,18053.1,OATS,Yld,=,1188.9,BIOM,=,5893.2
9,WWHT,Yld,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1081.0,BIOM,=,18198.0,CORN,Yld,=,8842.9,BIOM,=,22915.9,SOYB,Yld,=,950.1,BIOM,=,9419.1,WWHT,Yld,=,5599.7,BIOM,=,18132.8,OATS,Yld,=,1230.4,BIOM,=,6099.1

In [68]:
# connecting columns of the two datasets
hru = pd.concat([hru1, hru2], axis=1)

In [69]:
hru.head()

,2,9,10,13,14,16,17,19,20,21,23,25,27,28,30,31,32,34,36,38,39,41,42,43,45,47,49,50,52,53,54,57,59,61,62,64,65,66,68,70,...,3,8,9,10,16,18,20,21,23,24,25,27,29,31,32,34,35,36,38,40,42,43,46,47,48,51,53,55,56,58,59,60,62,64,66,67,69,70,71,74
0,HRU,1,SUB,1,CORN,Yld,=,7429.5,BIOM,=,19214.7,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5465.7,BIOM,=,17734.9,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.0,BIOM,=,23086.4,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1083.9,BIOM,=,18247.0,CORN,Yld,=,9065.6,BIOM,=,23492.9,SOYB,Yld,=,950.1,BIOM,=,9419.1,WWHT,Yld,=,5623.7,BIOM,=,18210.5,OATS,Yld,=,1254.6,BIOM,=,6219.4
2,HRU,2,SUB,1,CORN,Yld,=,7432.3,BIOM,=,19221.9,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5467.6,BIOM,=,17740.8,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.2,BIOM,=,23087.0,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,=,0.0,BIOM,=,0.0,CLVR,Yld,=,1084.8,BIOM,=,18262.6,CORN,Yld,=,9065.9,BIOM,=,23493.6,SOYB,Yld,=,950.1,BIOM,=,9419.1,WWHT,Yld,=,5625.4,BIOM,=,18216.1,OATS,Yld,=,1257.7,BIOM,=,6234.6
4,HRU,3,SUB,1,CORN,Yld,=,7350.6,BIOM,=,19010.0,SOYB,Yld,=,1224.8,BIOM,=,10119.9,WWHT,Yld,=,5414.8,BIOM,=,17569.6,CLVR,Yld,=,3013.8,BIOM,=,6665.8,CORN,Yld,=,8908.6,BIOM,=,23017.6,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# deleting empty rows in between given 2 rows - every second row
hru = hru.iloc[::2, :]

In [71]:
hru.head()

,2,9,10,13,14,16,17,19,20,21,23,25,27,28,30,31,32,34,36,38,39,41,42,43,45,47,49,50,52,53,54,57,59,61,62,64,65,66,68,70,...,3,8,9,10,16,18,20,21,23,24,25,27,29,31,32,34,35,36,38,40,42,43,46,47,48,51,53,55,56,58,59,60,62,64,66,67,69,70,71,74
0,HRU,1,SUB,1,CORN,Yld,=,7429.5,BIOM,=,19214.7,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5465.7,BIOM,=,17734.9,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.0,BIOM,=,23086.4,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HRU,2,SUB,1,CORN,Yld,=,7432.3,BIOM,=,19221.9,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5467.6,BIOM,=,17740.8,CLVR,Yld,=,3013.0,BIOM,=,6663.9,CORN,Yld,=,8935.2,BIOM,=,23087.0,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HRU,3,SUB,1,CORN,Yld,=,7350.6,BIOM,=,19010.0,SOYB,Yld,=,1224.8,BIOM,=,10119.9,WWHT,Yld,=,5414.8,BIOM,=,17569.6,CLVR,Yld,=,3013.8,BIOM,=,6665.8,CORN,Yld,=,8908.6,BIOM,=,23017.6,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HRU,4,SUB,1,CORN,Yld,=,7351.7,BIOM,=,19012.7,SOYB,Yld,=,1224.8,BIOM,=,10119.9,WWHT,Yld,=,5413.7,BIOM,=,17565.9,CLVR,Yld,=,3013.8,BIOM,=,6665.8,CORN,Yld,=,8908.4,BIOM,=,23017.1,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HRU,5,SUB,1,CORN,Yld,=,7249.2,BIOM,=,18748.5,SOYB,Yld,=,1224.7,BIOM,=,10119.6,WWHT,Yld,=,5460.0,BIOM,=,17716.2,CLVR,Yld,=,3013.0,BIOM,=,6663.8,CORN,Yld,=,8876.9,BIOM,=,22936.5,SOYB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
hru[19].head(100)

0      7429.5
2      7432.3
4      7350.6
6      7351.7
8      7249.2
        ...
190      BIOM
192      BIOM
194      BIOM
196      BIOM
198         =
Name: 19, Length: 100, dtype: object